/* .orderedProductsPage {
    background-color: red;
} */

.orderedProductsBody {
    background-color: white;
    width: 1200px;
    margin: 30px auto 0 auto;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.orderedProductsTableTitle {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
.orderedTableHead {
    background-color:#2f2666;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.orderedTableBodyElement {
    border-collapse: collapse;
    font-size: 20px;
}
.tableTitleColumn, .ordersTableRow {
    padding: 1rem;
}
.orderedTableBodyElement:nth-of-type(even) {
    background-color: rgb(220, 231, 231);
}
.orderedTableBodyElement td:nth-of-type(even) {
    font-weight: bold;
}