.createdProductElement {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    background-color:antiquewhite;
    width: 400px;
    border-radius: 10px;
    height: 170px;
    box-shadow: 2px 4px 12px 2px black;
    margin-bottom: 20px;
}
.addedProductName, .addedProductPrice, .addedProductOrigin {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.editCreatedElement {
    margin: 25px auto;
    background-color: #2f2666;
    width: 140px;
    height: 35px;
    border-radius: 15px;
}
.editCreatedElementButton {
    display: flex;
    align-items: center;

    background-color: inherit;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.editSvg {
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 40px;
}
.editText {
    margin-left: 5px;
}