.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 50px 0 50px 0;
}

.sliderPagination {
    display: flex;
    align-items: center;
}

.numberOfPageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #534dbe;
    font-size: 20px;
    color: #2f2666;
    font-weight: bold;
    margin-right: 7px;
}
.numberOfPageButton:hover {
    cursor: pointer;
    background-color: #534dbe;
    color: white;
}


.arrowBackPaginationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color:#2f2666;
    border-radius: 6px;
    margin-right: 3px;
}
.arrowForwardPaginationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color:#2f2666;
    border-radius: 6px;
    margin-left: -4px;
}
.arrowBackPagination, .arrowForwardPagination {
    width: 20px;
    height: 20px;
    color: white;
}
.arrowBackPaginationDiv:hover, .arrowForwardPaginationDiv:hover {
    background-color: white;
    cursor: pointer;
}
.arrowBackPaginationDiv:hover .arrowBackPagination, 
.arrowForwardPaginationDiv:hover .arrowForwardPagination{
    color: #2f2666;
}

.currentPage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 7px;
    background-color: #534dbe;
    color: white;
    cursor: pointer;
}

