.detailToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

  
    background-color: antiquewhite;
    padding: .6rem;
    border-bottom: .2rem solid rgba(0, 0, 0, .6);
}
.detailLogo {
    border: .4rem solid #2f2666;
    margin-left: 20px;
}
  
.detailLogoText {
    font-size: 30px;
    font-weight: bold;
    color: #2f2666;
}
.detailOrderedProduct {
    display: flex;
    align-items: center;
    align-content: space-around;
  
    margin-right: 20px;
}
  
.detailCartSvgOrdered {
    width: 60px;
    height: 60px;
    background-color: #2f2666;
    color: white;
    border-radius: 30px;
    padding: 1rem;
  
    transition: .3s background-color linear;
  
}
.detailCartSvgOrdered:hover, .detailAmountOrderedButton:hover {
    cursor: pointer;
}
.detailCartSvgOrdered:hover {
    background-color: white;
    color: #2f2666;
    transition: .3s;
}
.detailPriceOrdered {
    font-weight: bold;
    font-size: 17px;
}
.detailAmountOrdered {
    position: absolute;
    margin-top: 45px;
    margin-left: 40px;
}
.detailAmountOrderedButton {
    border: 1px solid white;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

  