.editModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.editForm {
    position: fixed;
    top: 200px;
    left: 40%;
    border-radius: 15px;
    background:linear-gradient(45deg, #2f2666,#534dbe);
    padding: 1rem;
    width: 430px; 
}
 


.resetFormButton, .cancelChangesButton {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #2f2666;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    
}
.resetFormButton:hover {
    color: white;
    background: inherit;
}
.cancelChangesButton:hover {
    color: white;
    background-color: rgb(255, 32, 32);
}
.resetFormButton {
    position: absolute;
    right: 30px;
    bottom: 40px;
    
}
.cancelChangesButton {
  position: absolute;
  right: 30px;
  bottom: 5px;
}