/* Min and Max Price Filter */

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.min_max {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 270px;
}
.dash {
    font-size: 30px;
    color: #534dbe;
}
.min_max_label, .originTilte, .perPageTitle {
    font-size: 20px;
    font-weight: bold;
    color: #534dbe;
}
.min, .max {
    width: 100px;
    height: 30px;
    padding: .4rem;
    font-size: 17px;
}


/* Origin Filter */
.selectOrigin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 110px;
}
.originList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.originName {
    margin-right: 5px;
}

/* Amount Elements PerPage */
.numPerPageSelect {
    width: 100px;
    font-size: 17px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: white;
}