.editForm {
    position: fixed;
    border-radius: 15px;
    background:linear-gradient(45deg, #2f2666,#534dbe);
    padding: 1rem;
    width: 180px;
    display: none; 
}
 
.resetFormButton, .cancelChangesButton {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #2f2666;
    font-weight: bold;
    margin-top: 10px;
    font-size: 11px;
    cursor: pointer;
    
}
.resetFormButton:hover {
    color: white;
    background: inherit;
}
.cancelChangesButton:hover {
    color: white;
    background-color: rgb(255, 32, 32);
}
.resetFormButton {
    position: absolute;
    bottom: 37px;
    right: 15px;
}
.cancelChangesButton {
    position: absolute;
    bottom: 3px;
    right: 15px;
}